In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [5]:
import pandas as pd

df = pd.read_csv("C:/Users/RAMCHARAN/OneDrive/Desktop/New folder (9)/Online Retail.csv", encoding='ISO-8859-1')

In [6]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

In [7]:
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  UnitPrice  CustomerID         Country
0  01-12-2010 08:26       2.55     17850.0  United Kingdom
1  01-12-2010 08:26       3.39     17850.0  United Kingdom
2  01-12-2010 08:26       2.75     17850.0  United Kingdom
3  01-12-2010 08:26       3.39     17850.0  United Kingdom
4  01-12-2010 08:26       3.39     17850.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
df = df.dropna()

In [14]:
df = df.dropna(subset=['CustomerID'])
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
df.reset_index(drop=True, inplace=True)

In [15]:
df['TotalAmount'] = df['Quantity'] * df['UnitPrice']

In [17]:

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['CountryEncoded'] = le.fit_transform(df['Country'])

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Quantity_scaled', 'UnitPrice_scaled', 'TotalAmount_scaled']] = scaler.fit_transform(
    df[['Quantity', 'UnitPrice', 'TotalAmount']]
)

In [19]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  UnitPrice  CustomerID         Country  TotalAmount  \
0  01-12-2010 08:26       2.55     17850.0  United Kingdom        15.30
1  01-12-2010 08:26       3.39     17850.0  United Kingdom        20.34
2  01-12-2010 08:26       2.75     17850.0  United Kingdom        22.00
3  01-12-2010 08:26       3.39     17850.0  United Kingdom        20.34
4  01-12-2010 08:26       3.39     17850.0  United Kingdom        20.34

   CountryEncoded  Quantity_scaled  UnitPrice_scaled  TotalAmount_scaled
0              35        -0.038968         -0.025635           -0.022962
1              35        -0.038968          0.012377           -0.006655
2              35        -0.027816         -0.016585           -0.001284
3              35        -0.038968          0.012377           -0.006655
4              35        -0.038968          0.012377           -0.006655

In [20]:

print(df.shape)

(397884, 13)

In [21]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,CountryEncoded,Quantity_scaled,UnitPrice_scaled,TotalAmount_scaled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom,15.30,35,-0.038968,-0.025635,-0.022962
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34,35,-0.038968,0.012377,-0.006655
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom,22.00,35,-0.027816,-0.016585,-0.001284
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34,35,-0.038968,0.012377,-0.006655
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34,35,-0.038968,0.012377,-0.006655
...,...,...,...,...,...,...,...,...,...,...,...,...,...
397879,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France,10.20,13,-0.005511,-0.102566,-0.039463
397880,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France,12.60,13,-0.038968,-0.045999,-0.031698
397881,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France,16.60,13,-0.050121,0.046770,-0.018756
397882,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France,16.60,13,-0.050121,0.046770,-0.018756
397883,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France,14.85,13,-0.055697,0.082972,-0.024418

In [24]:
df.to_csv("Cleaned_Online_Retail.csv", index=False)

In [37]:
df.to_csv("Cleaned_Online_Retail.csv", index=False)

df.to_csv(r'Cleaned_Online_Retail.csv')

In [39]:
customer_df = df.groupby('CustomerID').agg({
    'InvoiceNo': 'nunique',            
    'Quantity': 'sum',                 
    'TotalAmount': 'sum',             
    'InvoiceDate': ['min', 'max']     
}).reset_index()
customer_df.columns = ['CustomerID', 'InvoiceCount', 'TotalQuantity', 'TotalSpend', 'FirstPurchase', 'LastPurchase']
latest_date = df['InvoiceDate'].max()
customer_df['Recency'] = (latest_date - customer_df['LastPurchase']).dt.days

In [40]:
rfm_df = customer_df[['CustomerID', 'Recency', 'InvoiceCount', 'TotalSpend']]
rfm_df.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']

In [41]:
df.to_csv("Cleaned_Online_Retail.csv", index=False)
rfm_df.to_csv("Customer_Segmentation.csv", index=False)